@model IEnumerable<CMS.Models.Quiz>

<style>
    thead {
        background-color: #b6d4fe;
    }
        td {
            margin: 2px;
            background: #0dcaf0;
            max-width: 70px;
        }
    .scroll-container {
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: -moz-pre-wrap; /* Prevent wrapping of content */
        width: 100%; /* Set the width to 100% */
    }

    .scroll-content {
        display: inline-block; /* Display content in a line */
        padding: 10px; /* Add padding for content */
        min-width: 500px; /* Set a minimum width for each item */
    }
</style>

<div class="scroll-container">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Questions.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    <link>
                    @Html.DisplayFor(modelItem => item.Author)
                    <link/>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>